* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: min-content 1fr;
    height: 100vh;
}

.icon {
    width: 30px;
}

/* ======== SIDEBAR ======== */

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    background-color: rgb(25, 146, 212);
    gap: 40px;
    padding: 15px;
    color: white;
}

.sidebar li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.sidebar .branding p {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.sidebar li {
    font-size: 1.5rem;
}

.sidebar .branding .icon {
    width: 50px;
}

.sidebar .icon {
    filter: brightness(0) invert(1);
    margin-right: 15px;
}

/* ======== HEADER ======== */

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: min-content min-content;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-top: 25px;
    box-shadow: 0px 1px 10px lightgray;
}

.header .upper-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .upper-row .search-bar {
    display: flex;
    align-items: center;
    width: 50%;
}

.header .upper-row #search {
    width: 100%;
    background-color: rgb(226, 232, 240);
    border-style: none;
    height: 2.2rem;
    padding-left: 10px;
    border-radius: 25px;
    margin-left: 10px;
}

.header .upper-row .user-account {
    display: flex;
    align-items: center;
}

.header .upper-row .user-account .user-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.header .upper-row .user-profile-picture img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 20px;
}

.header .bottom-row {
    display: flex;
    align-items: center;
}

.header .bottom-row .user-profile-greeting .greeting-1 {
    font-size: 1rem;
    font-weight: bold;
}
.header .bottom-row .user-profile-greeting .greeting-2 {
    font-size: 2rem;
    font-weight: bold;
}

.header .bottom-row .user-buttons {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 30px;
}

.header .bottom-row .user-buttons button {
    background-color: rgb(25, 146, 212);
    color: white;
    border: none;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 25px;
    width: 120px;
}

.header .bottom-row .user-profile-picture img,
.main-content .trending .trending-user .user-profile-picture img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 20px;
}

/* ======== MAIN CONTENT ======== */

.main-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-content .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: min-content;
}

.main-content .projects .main-content-heading {
    grid-column: 1 / -1;
}

.main-content .projects .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content .projects .card .project-buttons {
    align-self: end;
}

.main-content .news .trending .trending-user {
    display: flex;
}

.main-content .news .trending .user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}