* {
    margin: 0px;
    padding: 0px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/* ======== SIDEBAR ======== */

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: repeat(3, auto);
}

.sidebar li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.sidebar .branding p {
    display: flex;
    align-items: center;
}

.sidebar .branding .icon {
    width: 50px;
}

.sidebar .icon {
    width: 30px;
}


/* ======== HEADER ======== */

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

/* ======== MAIN CONTENT ======== */

.main-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}